
.tabs-container {
    width: 100%;
}
.tabs-bar {
    background-color: var(--gray-200);
    padding-top: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    overflow-x: auto;
}

.tabs-list {
    display: flex;
    flex-direction: row;
}

.tab-item {
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 24px;
    background: var(--gray-200);
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    font-size: 14px;
    color: #64748b;
    user-select: none;
    max-width: 200px;
}

.tab-item:hover {
    background: #cbd5e1;
}

.tab-item.active {
    background: white;
    color: #2563eb;
    font-weight: 600;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.02);
    z-index: 1000;
}

.tab-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab-close {
    margin-left: 8px;
    width: 24px;
    aspect-ratio: 1 !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1;
}

.tab-close:hover {
    background-color: #ef4444;
    color: white;
}

.add-tab-btn {
    background: none;
    border: none;
    font-size: 20px;
    padding: 0 12px;
    cursor: pointer;
    color: #64748b;
}

.add-tab-btn:hover {
    color: #2563eb;
}

.phase-name {
    flex: 1;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 1rem;
}

.phase-input {
    background-color: inherit;
    border: none;
    border-bottom: 2px solid var(--gray-400);
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0;
    width: 150px;
    margin: auto;
}

.phase-bar {
    display: flex;
    background-color: white;
    border-top: none;
    gap: 12px;
    padding: 4px;
    overflow-x: auto;
}

.phase-list {
    display: flex;
    gap: 12px;
}

.phase-item {
    min-width: 180px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 0;
    padding: 4px 8px;
}

.phase-item.active {
    background-color: #eafaff;
}

.phase-close {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.phase-close:hover {
    background-color: var(--danger);
    border-radius: 50%;
}

.add-phase-btn {
    width: 30px;
    height: 50px;
    background-color: #c1ffd5;
    border: none;
    border-radius: 8px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    font-size: 1.5rem;
    cursor: pointer;
}

.add-phase-btn:hover {
    background-color: #8dffb1;
}

.balance-value {
    background-color: inherit;
    border: none;
    border-bottom: 2px solid var(--gray-400);
    font-weight: bold;
    font-size: 1.1rem;
    padding: 6px;
    width: 150px;
    margin: auto;
}
